{% extends 'main.html' %} 
{% load static %}
{% block content %}

  <div class="blog">
    <div class="info-box">
      <div class="info-content">
        <div class="avator-box">
          <img id="info-avator" src="{% static user.avator %}" alt="头像" width="100px" />
        </div>
        
        <div class="info-text">
          <div class="info-username">{{ user.username }}</div>
          <div class="info-bio">{{user.bio}}</div>
        </div>
      </div>
    </div>
    {% if posts %}
    <div class="page-list">
      {% for post in posts %}
      
      {% if forloop.counter|divisibleby:2 %}
      <div class="page-item"> 
        <div class="row">
          <div class="col-6">
            <div class="page-item-img">
              <img src="{% static 'images/p-0.png' %}" alt="images" width="400"  style="border-radius: 10px;"/>
            </div>
          </div>

          <div class="col-6">
            <div class="page-item-info">
              <p>{{ post.create_time|date:"Y-m-d" }}</p>
              <a href="{% url 'postContent' post.id %}">
                <h3>{{ post.title }}</h3>
                <h4>{{ post.subtitle }}</h4>
              </a>
              <hr>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="page-item"> 
        <div class="row">
          <div class="col-6">
            <div class="page-item-info">
              <p>{{ post.create_time|date:"Y-m-d" }}</p>
              <a href="{% url 'postContent' post.id %}">
                <h3>{{ post.title }}</h3>
                <h4>{{ post.subtitle }}</h4>
              </a>
              <hr>
            </div>
          </div>
          <div class="col-6">
            <div class="page-item-img">
              <img src="{% static 'images/p-1.png' %}" alt="images" width="400"  style="border-radius: 10px;"/>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% endfor %}
        {% if page != 1 %}
              <form id="pre_page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                  <input type="text" name="next" value="-1" style="display:none">
                  <input type="text" name="page" value="{{page}}" style="display:none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                  </svg>
                  前一页
                </button> 
              </form>
        {% endif %}
        {% if page != page_count %}
              <form id="next_page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="next" value="1" style="display:none">
                <input type="text" name="page" value= "{{ page }}" style="display:none">
                <button type="submit" class="btn btn-primary">
                后一页
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>  
              </form>
          {% endif %}
      </div>
  </div>
</div>  

    {% endif %} 
     
<style>
   #info-avator:hover {
    transform: rotate(360deg);
  }
  .btn-box {
    margin-top: 50px;
    text-align: center;
  }
  .btn {
    height: 6vh;
    width: 15vh;
    margin-left: 20px;
    margin-right: 20px;
  }
  .blog {
    width: 100%;
    background: url("{% static '/images/p-1.png' %}") no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .page-item-img {
    margin: 0 auto;
  }
  .page-item-info {
    margin: 20px 20px auto;
    border-radius: 10px;
  }
  .page-item {
    margin: 40px auto;
    margin-top: 50px;
    max-width: 800px;
  }
  .page-list {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .page-item-info>a {
    text-decoration: none;
  }
  .page-item-info>a:hover h3{
    color: #78C2AD;
  }
  .page-item-info>a:hover h4{
    color: #78C2AD;
  }
  .info-box {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #info-avator {
    border-radius: 100%;
    padding: 5px; 
    box-shadow: inset 0 0 20px #000;
    transition: all 1s ease;
  }

  .info-username {
    margin-top: 30px;
    padding-top: 20px;
    font-weight: 900;
  }

  .info-bio {
    margin-top: 10px;
    padding-bottom: 10px;
  }
 

  .info-text {
    box-shadow: inset 0 0 10px #000;
    width: 500px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.5;
  }
  .info-content {
    text-align: center;
  }
  
</style>

{% endblock %}
