{% extends 'main.html' %} 
{% load static %}
{% load get_mod %}
{% block content %}

  <div class="blog">
    <div class="info-box">
      <div class="info-mask"></div>
      <div class="info-content">
        <div class="avator-box">
          <img id="info-avator" src="{% static user.avator %}" alt="头像" width="15%" />
        </div>
        <div class="info-text">
          <div class="info-username">{{ user.username }}</div>
          <div class="info-bio">{{user.bio}}</div>
        </div>
      </div>
    </div>
    {% if posts %}
    <div class="page-list">
      {% for post in posts %}
        <div class="page-item"> 

          <div class="page-item-img">
            <img src="{% static 'images' %}/{{ post.id|get_mod:100  }}.png"  />
          </div>
          <div class="page-item-info">
            <p>{{ post.create_time|date:"Y-m-d" }}</p>
            <a href="{% url 'postContent' post.id %}">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.subtitle }}</h4>
            </a>
            <hr>
            <div class="page-item-author">
              <p>{{ post.username }}</p>
            </div>
          </div>
      </div>
      {% endfor %}
        {% if page != 1 %}
              <form id="pre_page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                  <input type="text" name="next" value="-1" style="display:none">
                  <input type="text" name="page" value="{{page}}" style="display:none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                  </svg>
                  前一页
                </button> 
              </form>
        {% endif %}
        {% if page != page_count %}
              <form id="next_page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="next" value="1" style="display:none">
                <input type="text" name="page" value= "{{ page }}" style="display:none">
                <button type="submit" class="btn btn-primary">
                后一页
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>  
              </form>
          {% endif %}
      </div>
  </div>
</div>  

{% endif %} 
     
<style>
  .info-box {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-image: url("{% static '/images/p-0.png' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width:1000px) {
    .info-box {
      height: auto!important;
      background-attachment: fixed;
    }
  }
</style>

{% endblock %}
