{% extends 'main.html' %}

{% block content %}

  <div class="sign-card container">
    <form class="sign-form row g-3" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <a href="{% url 'register' %}">没有账号? 点击跳转注册</a>
        <div class="text-center">
          <div class="message-box">{{message}}</div>
            <button type="submit" class="btn btn-secondary btn-lg">登录</button>
        </div>
    </form>
  </div>

{% endblock %}
