{% extends 'main.html' %}

{% block content %}
<div class="sign-card container">
    <form class="sign-form row" action="{% url 'register'%}" method="POST">
        {% csrf_token %}

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password2" class="form-control" id="floatingPassword" placeholder="confirmedPassword">
            <label for="floatingPassword">confirmedPassword</label>
        </div>
        <a href="{% url 'login' %}">已有账号？点击跳转登录</a>
        <div class="text-center">
            <div class="message-box">{{message}}</div>
            <button type="submit" class="btn btn-secondary btn-lg" style="width:150px; text-align: center;">注册</button>
        </div>
    </form>
  </div>

  <style>
    .sign-form {
      height: 60vh;
      width: 25vw;
      padding: 20px;
      background-color: aliceblue;
      border-radius: 10px;
    }
    .sign-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }
  </style>
{% endblock %}